div {
    margin: 0.2rem auto;
    padding: 1rem;
    text-align: center;
}

p {
    font-size: 4.5rem;
    color: #f3f3f3;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button {
    background-color: #62b2e7;
    color: #f3f3f3;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10%;
    margin: 1rem;
    padding: 0.5rem 1rem;
}

img {
    width: 40%;
    height: 40%;
}

button:hover {
    cursor:pointer;
    border: 0.2rem solid;
    border-color: #f3f3f3;
  }