p {
    font-size: 1.5rem;
    color: #f3f3f3;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h1 {
    padding: 2rem;
    font-size: 2.5rem;
    color: #f3f3f3;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

img {
  width: 20%;
  height: 20%;
  border-radius: 10%;
  border: 0.3rem rgb(91, 10, 122);
  border-style: solid;
}

button {
  background-color: #62b2e7;
  color: #f3f3f3;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 15%;
  margin: 1rem;
  padding: 0.5rem 1rem;
}

button:hover {
  cursor:pointer;
  border: 0.2rem solid;
  border-color: #f3f3f3;
}

.photoContainer {
  position: relative;
  width: 20%;  
  display: inline-block;
}

.playerPhoto {
  width: 100%; 
  height: auto;
}

.flagPhoto {
  position: absolute;
  bottom: 1.6rem;  
  right: 0.8rem;
  width: 4vw; 
  height: 3vw; 
  border-radius: 30%;
  border: none;
}

